<!-- Background image -->
<div
class="p-5 text-center bg-image"
style="
  background-image: url('https://images.unsplash.com/photo-1543286386-713bdd548da4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHN1cnZleXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  height: 400px;
"
>
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3 title-survey-custom">Survey Management   System</h1>
    </div>
  </div>
</div>
</div>

<div class="container mt-4">
  <div class="card" style="background: none;">
    <div class="card-body">
      <h5 class="card-title text-warning">About This App</h5>
      <p class="card-text text-white">This is a survey application created using
        <a href="https://docs.djangoproject.com/en/3.1/intro/tutorial01/" target="_blank">django framework</a>.
        In this app, users can participate in surveys created by the administrator.
        Each survey consists of a short questionnaire. At the same time fun. <br>
        Each participation in the survey is recorded and the admin can track the number of participation for each survey
        and will be notified of the top survey with highest participation. <br>
        Also, can see the stats for each question in a survey with bar chart visualizations rendered using
        <a href="https://www.chartjs.org/" target="_blank">Chartjs</a>.</p>
    </div>
  </div>
</div>